<div id="user_profile">

</div>

  <%= content_tag(:h2, "Artículo(s):") %>
  <div id="products" class="table">
    <span class="pd_quantity">Cantidad</span><span class="pd_description">Descripción</span> <span class="pd_price">Precio unitario</span><span class="pd_type">Categoría del producto</span<span class="pd_actions">Acciones</span>
    <%= render :partial => "order_product", :collection => @order.order_products %>
  </div>

  <%= link_to_function "Agregar" do |page|
                     page.insert_html :bottom, 'products', :partial => "order_product", :object => OrderProduct.new
                end
  %>

  <%= content_tag(:h2, "Proveedor(es):") %>

  <div id="providers" class="table">
    <span class="pv_description">Proveedor</span> <span class="pv_actions">Acciones</span>
    <%= render :partial => "order_provider", :collection => @order.order_providers %>
  </div>

  <%= link_to_function "Agregar" do |page|
                    page.insert_html :bottom, 'providers', :partial =>"order_provider", :object => Provider.new
                  end
  %>

  <p>
    <%= content_tag(:h2, "Anexos:") %>
  </p>
  <p>
   Seleccione el tipo de archivo que va a adjuntar a su orden de compra: <br/>

  <div id="order_files" class="table">
    <span class="of_filetype">Tipo de archivo</span><span class="of_file">Archivo</span>
     <%= render :partial => "order_file", :object =>  @order.order_file %>
   </div>

  <p>
    <%= content_tag(:h2, "Con cargo a:") %>
  <p>
    Seleccione una de las siguientes opciones: <br/>

    <div id="projects" class="table">
      <span class="op_type">Tipo de proyecto</span><span class="op_name">Nombre del proyecto</span><span class="op_number"># Proyecto/Partida</span>
      <%= render :partial => "order_project", :object => @order.project %>
    </div>
  </p>
  </p>

