  <%= content_tag(:h2, "Datos del solicitante:") %>
  <div class="cell1">Nombre:</div>
  <div class="cell2"><%= User.find(session[:user]).person.fullname %></div><br/>
  <div class="cell1">Área:</div>
  <div class="cell2"><%= User.find(session[:user]).adscription_name %></div><br/>
  <div class="cell1">Teléfono:</div>
  <div class="cell2"><%= User.find(session[:user]).phone %></div><br/>
  <div class="cell1">Fecha de solicitud:</div>
  <div class="cell2"><%= Date.today.to_s %></div><br/>
  <div class="cell1">Autorizado por:</div>
  <div class="cell2"><%= User.find(session[:user]).user_incharge_fullname %></div><br/>

  <%= content_tag(:h2, "Artículo(s):") %>

  <div id="products" class="table">
    <span class="pd_quantity">Cantidad</span><span class="pd_description">Descripción</span> <span class="pd_price">Precio unitario</span> <span class="pd_actions">Acciones</span>
    <%= render :partial => "order_product", :collection => @order.order_products %>
  </div>

  <%= link_to_function "Agregar" do |page|
                  page.insert_html :bottom, 'products', :partial => "order_product", :object => OrderProduct.new
                end
  %>

  <div id="total">
    <span class="th_value">Total:</span> <span class="th_value"><label for="value"><%= @order.order_products[0].quantity %></label></span><br/>
    <span class="th_value">Valor total:</span>  <span class="th_value"><label for="total">0</label></span>
  </div>

  <%= content_tag(:h2, "Proveedor(es):") %>

  <div id="providers" class="table">
    <span class="pv_description">Proveedor</span> <span class="pv_actions">Acciones</span>
    <%= render :partial => "order_provider", :object => @order.order_providers.first.provider %>
  </div>

  <%= link_to_function "Agregar" do |page|
                    page.insert_html :bottom, 'providers', :partial =>"order_provider", :object => Provider.new
                  end
  %>

  <p>
    <%= content_tag(:h2, "Anexos:") %>
  </p>
  <p>
   Seleccione el tipo de archivo que va a adjuntar a su orden de compra: <br/>

  <div id="order_files" class="table">
    <span class="of_filetype">Tipo de archivo</span><span class="of_file">Archivo</span><span class="of_actions">Acciones</span>
     <%= render :partial => "order_file", :collection =>  @order.order_files %>
   </div>
     <%= link_to_function "Agregar" do |page|
         page.insert_html :bottom, 'order_files', :partial =>"order_file", :object => OrderFile.new
     end
     %>


  <p>
    <%= content_tag(:h2, "Con cargo a:") %>
  <p>
    Seleccione una de las siguientes opciones: <br/>

    <div id="projects" class="table">
      <span class="op_type">Tipo de proyecto</span><span class="op_name">Nombre del proyecto</span><span class="op_number">No. de proyecto</span><span class="op_actions">Acciones</span>
      <%= render :partial => "order_project", :collection => @order.projects %>
    </div>
    <%= link_to_function "Agregar" do |page|
        page.insert_html :bottom, 'projects', :partial =>"order_project", :object => Project.new
    end
    %>
  </p>
  </p>

