<% new_or_existing = order_project.new_record?  ? 'new' : 'existing' %>
<div class="row" style="background-color: #e2eef3;" id="<%= order_project.dom_id %>">
  <% fields_for "projects[#{new_or_existing}][]", order_project do |project| %>
    <span class="op_type">
      <%= project.simple_select(ProjectType, order_project.project_type_id) %>
    </span>
    <span class="op_name">
      <%= project.text_field :name, :size => '50', :maxlenght => '100' %>
    </span>
    <span class="op_number">
      <%= project.text_field :key, :size => '5', :maxlenght => '10' %>
    </span>

    <span class="of_actions">
      <% unless order_project.new_record? %>
      <%= link_to_remote  "Borrar", :url => destroy_item_order_request_path(:id => order_project.id, :table => 'project'), :method => :delete,
                                                       :confirm => "¿Desea borrar este registro?"%>
    </span>
    <% else%>
    <%= link_to_function "Borrar", "$(this).up('.row').remove();" %>
    <% end %>
    <% end %>
</div>
