<% new_or_existing = order_file.new_record?  ? 'new' : 'existing' %>
<div class="row" style="background-color: #e2eef3;" id="<%= order_file.dom_id %>">
  <% fields_for "files[#{new_or_existing}][]", order_file do |file| %>
    <span class="of_filetype">
      <%= simple_select(:order_request, FileType) %>
    </span>
    <span class="of_file" id="<%= order_file.dom_id + '_upload' %>">
      <% unless !order_file.new_record? %>
         <%= render :partial => 'upload_file', :locals => {:file => file} %>
      <% else %>
         <%= render :partial => 'file', :object => order_file, :locals => {:file => file} %>
      <% end %>
    </span>
    <span class="of_actions">
      <% unless order_file.new_record? %>
      <%=  link_to_function("Cambiar archivo", nil, :id => "more_link") do |page|
      page.replace_html  order_file.dom_id + '_upload', :partial => "upload_file", :locals => {:file => file}
      end  %>
     </span>
    <% end %>
    <% end %>
</div>
