<div class=<%="row_" + ((record_counter + 1) % 2).to_s%>>
  <span class="id_td"><%= record.id %></span>
  <span class="description_td">
    <% count = 0%><%= record.order_products.collect {|product| "#{count+=1}. "+product.description}.join("<br\>") %><br/><br/>
    <span style="margin-left: 50px; font-weight: bold;">Total: <%= order_request_total_cost(record.id) %>,
    Divisa: <%= record.currency_order.currency.name%> (<%= link_to 'Ver más detalles', order_request_path(record) %>)</span>
  </span>
  <span class="date_td"><%= record.date %></span>
  <% id=record.order_status_id.to_s%>
  <span class="status_td" id="<%= record.dom_id + '_status' %>">
    <%= image_tag("status_"+id+".png", :size => '16x16')%>
    <%= record.status_name %>
  </span>
  <span class="actions_td" id="<%= record.dom_id + '_actions' %>">
    <%= render :partial => 'record_actions', :locals => {:record => record} %>
    <%= image_tag('progress_bar3.gif', :id => 'order_status_loader_indicator', :style => 'display: none') %>
</span>
</div>
