<h1>Su solicitud  ha sido  enviada.<h1>
    <h4>Información del solicitante:</h4>
    <div>
      <label>Nombre del solicitante: <%= @user_profile.fullname %> (<%= @user_profile.adscription_name %>)</label><br/>
      <label>Teléfono: <%= @user_profile.phone %></label><br/>
      <label>Fecha de solicitud: <%= Date.today.to_s %></label><br/>
      <% if @user_profile.has_user_incharge? %>
      <label>Responsable académico: <%= @user_profile.user_incharge.fullname %></label><br/>
      <% end %>
    </div>

    <div>
      <h4>Artículo(s)</h4>
      <%= render :partial => 'product', :collection =>@order.order_products %>
    </div>

    <div>

    <div>
      <h4>Proveedor(es)</h4>
      <%= render :partial => 'provider', :collection =>@order.providers %>
    </div>

    <h4>Anexo(s)</h4>
      <%= render :partial => 'file', :object =>@order.order_file %>
    </div>

    <div>
      <h4>Con cargo a:</h4>
      <%= render :partial => 'project', :object =>@order.project %>
    </div>
