
<h1>Su solicitud  ha sido  enviada.<h1>
    <h4>Con los siguientes datos:</h4>
    </br>
    <div>
      <h4>Información del solicitante:</h4>
      <p>
        <label>Nombre del solicitante: <%= User.find(session[:user]).person.fullname  %></label>
      </p>
      <p>
        <label>Área de adscripción: <%= User.find(session[:user]).adscription_name  %></label>
      </p>
      <p>
        <label>Responsable: <%= User.find(session[:user]).user_incharge_fullname %></label>
      </p>
      <p>
        <label>Fecha de solicitud: <%= @order.date %></label>
      </p>
    </div>

    <div>
      <h4>Artículo(s)</h4>
      <%= render :partial => 'product', :collection =>@order.order_products %>
    </div>

    <div>
      <h4>Documento(s)</h4>
      <%= render :partial => 'file', :collection =>@order.order_files %>
    </div>

    <div>
      <h4>Proveedor(es)</h4>
      <%= render :partial => 'provider', :collection =>@order.providers %>
    </div>

