<div id="title_ob">
  <%= content_tag(:h3, "Universidad Nacional Autónoma de México") %>
  <%= content_tag(:h3, "Instituto de Física") %><br/>
  <%= content_tag(:b, "CLAVE: ") %>314.01 <br/>
  <%= content_tag(:b, "Secretaría Administrativa") %> <br/>
  <%= content_tag(:b, "Bienes y suministros") %> <br/>
</div>

<%= render :partial => 'currency_data' %>

<div id="errors"><%= render :partial => 'errors' %></div>
 <% form_for :order_request, @order, :url => order_request_path(@order), :html => { :method => :put, :id => 'order', :multipart => true } do |f| %>
<div id="data">
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Actualizar orden de compra", :onclick => "return (confirm('¿Desea enviar esta orden de compra?'));"%>
    <%= link_to 'Cancelar', order_requests_path, :confirm => 'Al cancelar los cambios no serán almacenados' %>
  </p>
  <% end %>
</div>


