<div id="title_ob">
  <%= content_tag(:b, "CLAVE: ") %>314.01 <br/>
  <%= content_tag(:b, "Secretaría Administrativa") %> <br/>
  <%= content_tag(:b, "Bienes y suministros") %> <br/>
</div>

<div class="fix" id="currency_data">
  <div ="row">
    <span class="fix-left">Divisa:</span>
    <span class="fix-right" ><%= simple_select(:currency, Currency, @order.currency_order.currency_id)%></span>
  </div>
  <%= observe_field :currency_currency_id, :url => {:controller => 'currencies', :action => :show},  :with => "'id='+$('currency_currency_id').value", :loading => "$('currency_form').update(''); $('currency_loader_indicator').show();", :complete => "$('currency_loader_indicator').hide();" %>
  <%= image_tag('progress_bar3.gif', :id => 'currency_loader_indicator', :style => 'display:none') %>
  <div id="currency_form">
  </div>
</div>

<%= error_messages_for :order %>
<% form_for(:order_request, @order, :url => { :action => "index" }, :html => {:id => 'order', :multipart => true }) do |f| %>
<div id="data">
  <% %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Guardar orden de compra", :onclick => "return (confirm('¿Desea almacenar esta orden de compra?'));"%>
    <%= link_to 'Cancelar', order_requests_path, :confirm => 'Al cancelar la orden de compra no será almacenada' %>
  </p>
</div>
<% end %>

