<div id="title_ob">
  <%= content_tag(:h3, "Universidad Nacional Autónoma de México") %>
  <%= content_tag(:h3, "Instituto de Física") %><br/>
  <%= content_tag(:b, "CLAVE: ") %>314.01 <br/>
  <%= content_tag(:b, "Secretaría Administrativa") %> <br/>
  <%= content_tag(:b, "Bienes y suministros") %> <br/>
</div>

<%= error_messages_for :order %>
<% form_for(:order_request, @order, :url => { :action => "create" }, :html => {:id => 'order'}) do |f| %>
<div id="data">
  <%= content_tag(:h2, "Datos del solicitante:") %>
  <div class="cell1">Nombre:</div>
  <div class="cell2"><%= User.find(session[:user]).person.fullname %></div><br/>
  <div class="cell1">Área:</div>
  <div class="cell2"><%= User.find(session[:user]).adscription_name %></div><br/>
  <div class="cell1">Teléfono:</div>
  <div class="cell2"><%= User.find(session[:user]).phone %></div><br/>
  <div class="cell1">Fecha de solicitud:</div>
  <div class="cell2"><%= Date.today.to_s %></div><br/>
  <div class="cell1">Autorizado por:</div>
  <div class="cell2"><%= User.find(session[:user]).user_incharge_fullname %></div><br/>

  <%= content_tag(:h2, "Artículo(s):") %>

  <div id="products" class="table">
    <span class="th_quantity">Cant.</span><span class="th_description">Descripción</span> <span class="th_price">Precio unitario</span> <span class="th_actions">Acciones</span>
    <%= render :partial =>"order_product", :collection => @order.order_products %>
  </div>

  <%= link_to_function "Agregar" do |page|
                  page.insert_html :bottom, 'products', :partial =>"order_product", :object => OrderProduct.new
                end
  %>

  <div id="total">
    <span class="th_value">Total:</span> <span class="th_value"><label for="value">0</label></span><br/>
    <span class="th_value">Valor total:</span>  <span class="th_value"><label for="total">0</label></span>
  </div>
  <div id="providers" class="table">

    <%= content_tag(:h2, "Proveedor(es):") %>

    <span class="th_content">Proveedor</span> <span class="th_actions">Acciones</span>
    <%= render :partial =>"order_provider", :collection => @order.providers %>
  </div>

  <%= link_to_function "Agregar" do |page|
                    page.insert_html :bottom, 'providers', :partial =>"order_provider", :object => Provider.new
                  end
                                                       %>

  <p>
    <%= content_tag(:h2, "Anexos:") %>
  </p>
  <p>
    Seleccione uno de los siguientes:
    <%= select( "Cotizaciones", "id", { "--Ninguno--" => "1", "Cotizaciones" => "2", "Catálogos" => "3", "Justificación" => "4", "Otros" => "5"}) %>
    <% fields_for(:file_type, @file_type, :html => {:multipart => true}) do |f| %>
    <div style="margin-left: 263px;">
      <%= f.file_field :upload_file %>
    </div>
  </p>
  <% end %>
  <p>
    <%= content_tag(:h2, "Con cargo a:") %>
  <p>
    Seleccione uno de los siguientes:
    <%= select( "attached_document", "id", { "--Ninguno--" => "1", "Presupuesto" => "2", "PAPIIT" => "3", "CONACYT" => "4", "Ingresos externos" => "5"}) %>
  </p>
  </p>
  <p>
    <%= f.submit "Enviar Orden de Compra", :onclick => "return (confirm('¿Desea enviar esta orden de compra?'));"%>
  </p>
  <% end %>
</div>
