<div id="title_ob">
  <%= content_tag(:b, "CLAVE: ") %>314.01 <br/>
  <%= content_tag(:b, "Secretaría Administrativa") %> <br/>
  <%= content_tag(:b, "Bienes y suministros") %> <br/>
</div>

<%= error_messages_for :order %>
<% form_for(:order_request, @order, :url => { :action => "create" }, :html => {:id => 'order', :multipart => true }) do |f| %>
<div id="data">
     <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Enviar orden de compra", :onclick => "return (confirm('¿Desea enviar esta orden de compra?'));"%>
  </p>
</div>
<% end %>

