<div id="topbar">
  <div id="logo">
  <%= image_tag('logo_unam.jpg', :border => 0, :size => '100x100') %>
  </div>
  <div id="organization">
    <%= content_tag(:h3, "Universidad Nacional Autónoma de México") %>
    <%= content_tag(:h3, "Instituto de Física") %>
    <%= content_tag(:b, "CLAVE: ") %>314.01 <br/>
    <%= content_tag(:b, "Secretaría Administrativa") %> <br/>
    <%= content_tag(:b, "Bienes y suministros") %> <br/>
  </div>
</div>

<%= error_messages_for :order %>
<h2>SOLICITUD INTERNA DE COMPRA</h2>
<% form_for(:order_request, @order, :url => { :action => "create" }, :html => {:id => 'order'}) do |f| %>
<div class="row">
  <div class="td", style="width:400px;">
    Área solicitante: <%= User.find(session[:user]).adscription_name %>
  </div>
  <div class="td">
    Fecha: <%= Date.today.to_s %>
  </div>
</div>

<div class="row">
  <div class="td" style="width:500px;">
    Nombre del solicitante: <%= User.find(session[:user]).person.fullname %> <br/>
    Teléfono: <%= User.find(session[:user]).phone %>
  </div>
  <div class="td">
    Autorización del responsable del área
  </div>
</div>
<br>

<div id="products" class="table">
  <div class="row">
    <span class="th_option">Cantidad</span> <span class="th_content">Descripción</span> <span class="th_option">Precio por unidad</span> <span class="th_actions">Acciones</span>
  </div>
  <div id="products">
    <%= render :partial =>"order_product", :collection => @order.order_products %>
  </div>
</div>
  <%= link_to_function "Agregar" do |page|
    page.insert_html :bottom, 'products', :partial =>"order_product", :object => OrderProduct.new
  end
  %>

</span><span class="td_content" style="font-weigth: bold; text-align: right;">Total</span>
<span class="td_action">Valor total</span>


<div id="providers" class="table">
  <div class="row">
    <span class="th_content">Proveedor</span>  <span class="th_actions">Acciones</span>
  </div>
    <%= render :partial =>"order_provider", :collection => @providers %>
 </div>
  <%= link_to_function "Agregar" do |page|
    page.insert_html :bottom, 'providers', :partial =>"order_provider", :object => Provider.new
  end
  %>

<p>
                 <%= f.submit "Enviar Orden de Compra", :onclick => "return (confirm('¿Desea enviar esta orden de compra?'));"%>
</p>


<% end %>
