<%= render :partial => 'navlinks_show' %>
<h2 style="margin-left: 50px;">Los datos de su orden de compra son los siguientes:</h2>
<div id="or_data">
  <div id="top_image">
  </div>
  <div id="user_data">
  	<%= render :partial => 'section_show', :locals => { :title => 'Información del solicitante:', :partial => 'user_profile_show', :object => @order } %>
 	<%= render :partial => 'section_show', :locals => { :title => 'Divisa:', :partial => 'currency_show', :object => @order.currency } %>
	<%= render :partial => 'section_show', :locals => { :title => 'Artículo(s)', :partial => 'products_show', :collection  => @order.products } %>
	<%= render :partial => 'section_show', :locals => { :title => 'Proveedor(es)', :partial => 'providers_show', :collection => @order.providers } %>
	<%= render :partial => 'section_show', :locals => { :title => 'Anexo(s)', :partial => 'files_show', :collection => @order.attachments } %>
 	<%= render :partial => 'section_show', :locals => { :title => 'Con cargo a:', :partial => 'project_show', :object => @order.project } %>
  </div>

  <div id="bottom_image">
  </div>
</div>
<%= render :partial => 'navlinks_show' %>
<br/>
<br/>
