<%= link_to 'Regresar a inicio', order_requests_path %>
<h2 style="margin-left: 50px;">Los datos de su orden de compra son los siguientes:</h2>
<div id="collection">
  <h3>Información del solicitante:</h3>
  <div class="row">

  </div>
</div>

<div id="collection">
  <div class="row">
  <h3>Divisa:</h3>
  <%= render :partial => 'currency', :object => @order.currency_order %>
  </div>
</div>

<div id="collection">
  <div class="row">
  <h3>Artículo(s)</h3>
  <%= render :partial => 'product', :collection =>@order.order_products %>
  </div>
</div>

<div id="collection">
  <div class="row">
  <h3>Anexo(s)</h3>
  <%= render :partial => 'filelist', :collection =>@order.order_files %>
</div>
</div>

<div id="collection">
  <div class="row">
  <h3>Proveedor(es)</h3>
  <%= render :partial => 'provider', :collection =>@order.providers %>
</div>
</div>

<div id="collection">
  <div class="row">
  <h3>Con cargo a:</h3>
  <%= render :partial => 'project', :collection =>@order.projects %>
</div>
</div>
<%= link_to 'Regresar a inicio', order_requests_path %>
