<div id="return">
  <%= link_to 'Regresar a inicio', order_requests_path %>
  <%= link_to( image_tag("return.png", :size => '25x25'), order_requests_path )%>
</div>

<h2 style="margin-left: 50px;">Los datos de su orden de compra son los siguientes:</h2>
<div id="or_data">
  <div id="top_image">
  </div>

  <div id="user_data">
    <div id="collection">
      <h3>Información del solicitante:</h3>
      <%= render :partial => 'user_data', :object => @order %>      
    </div>

    <div id="collection">
      <div class="row">
        <h3>Divisa:</h3>
        <%= render :partial => 'currency', :object => @order.currency %>
      </div>
    </div>

    <div id="collection">
      <div class="row">
        <h3>Artículo(s)</h3>
        <%= render :partial => 'order_products', :collection =>@order.products %>
      </div>
    </div>

    <div id="collection">
      <div class="row">
        <h3>Proveedor(es)</h3>
        <%= render :partial => 'order_providers', :collection =>@order.providers %>
      </div>
    </div>

     <div id="collection">
      <div class="row">
        <h3>Anexo(s)</h3>
        <%= render :partial => 'filelist', :collection =>@order.attachments %>
      </div>
    </div>
 
    <div id="collection">
      <div class="row">
        <h3>Con cargo a:</h3>
        <%= render :partial => 'project', :object =>@order.project %>
      </div>
    </div>

  </div>

  <div id="bottom_image">
  </div>
</div>

<div id="return">
  <%= link_to 'Regresar a inicio', order_requests_path %>
  <%= link_to( image_tag("return.png", :size => '25x25'), order_requests_path )%>
</div>

<br/>
<br/>
