<%- content_for :head do -%>
  <script type="text/javascript" charset="utf-8">
   //<![CDATA[
     providerForm = new Subform('<%= escape_javascript(render(:partial => "provider", :object => Provider.new, :locals => {:index => "INDEX"})) %>',<%= @order.providers.length %>,'providers');
     productForm = new Subform('<%= escape_javascript(render(:partial => "product", :object => OrderProduct.new, :locals => {:index => "INDEX"})) %>',<%= @order.products.length %>,'products');
   //]]>
  </script>
<%- end -%>

<h2>Artículo(s):</h2>

  <div id="products" class="table">
    <span class="pd_quantity">Cantidad</span>
    <span class="pd_description">Descripción</span> 
    <span class="pd_type">Categoría</span>
    <span class="pd_unit">Unidad</span>
    <span class="pd_actions">Acciones</span>

    <%= render :partial => 'product', :collection => @order.products%> 
  </div>

<%= link_to_function "Agregar", "productForm.add()"%>        


<h2> Proveedor(es):</h2>

  <div id="providers" class="table">
    <span class="pv_description">Proveedor</span>  	
    <span class="pv_email">Email</span>
    <span class="pv_actions">Acciones</span>
    
    <%= render :partial => 'provider', :collection => @order.providers%>
  </div>

<%= link_to_function "Agregar", "providerForm.add()"%>        

