<% content_for_estimate_form_head %>

<h2>Artículo(s):</h2>
<div id="products" class="table">
    <span class="pd_quantity">Cantidad</span>
    <span class="pd_description">Descripción</span> 
    <span class="pd_type">Categoría</span>
    <span class="pd_unit">Unidad</span>
    <span class="pd_actions">Acciones</span>
      
    <%= render :partial => 'product_form', :locals => { :f => f } %>
</div>

<%= link_to_function "Agregar" do |page|   
	page.insert_html :bottom, 'products', :partial => "product_form", :locals => { :f => f }
 end %>


<h2> Proveedor(es):</h2>
<div id="providers" class="table">
  	<span class="pv_description">Proveedor</span>  	
	<span class="pv_email">Email</span>
    <span class="pv_actions">Acciones</span>
    <%= render :partial => 'provider_form', :locals => { :f => f } %>
    <%= link_to_function "Agregar", "providerForm.add"%>        

</div>
<%= link_to_function "Agregar" do |page|   
	page.insert_html :bottom, 'providers', :partial =>"provider_form", :locals => { :f => f }
end %>
