<%
    index ||= 1
    id_or_index = provider.new_record? ? index : file.id 
    prefix = 'order[providers_attributes]'
%>

<div id="files">
<% fields_for prefix do |provider_form| -%> 
   <% dom_id = provider_form.object.nil? ? 'new' : provider_form.object.dom_id %>
   <div class="row" style="background-color: #e2eef3;" id="<%= dom_id %>">
	<span class="pv_description">
     	<%= provider_form.text_field :name, :size => '64', :index => index %>
   	</span>
	<span class="pv_email">
     	<%= provider_form.text_field :email, :size => '20', :index => index %>
   	</span>
   	<span class="pv_actions">
  	<% unless 3<4 %>Agregar validacion si esta vacio
      	<%= link_to_remote "Borrar", :url => provider_path(provider_form.object_id), :method => :delete, :confirm => "¿Desea borrar este registro?" %>												
   <% else%>
   		<%= link_to_function "Borrar", "$(this).up('.row').remove();" %>
    <% end %>
    <%= index%>
   	</span>
    </div>
<% end -%> 
</div> 
