<% f.fields_for :products do |product_form| %>
	<% dom_id =  product_form.object.nil? ? 'new' : product_form.object.dom_id %>
	<div class="<%= dom_id %>" style="background-color: #e2eef3;" id="<%= dom_id %>">
  	<span class="pd_quantity">
    	<%= product_form.text_field :quantity, :size => '4', :maxlenght => '4' %>
  	</span>
  	<span class="pd_description">
    	<%= product_form.text_field :description, :size => '47', :maxlenght => '70' %>
  	</span>
  	<span class="pd_type" id="product_type">
    	<%= product_form.select(:product_category_id, ProductCategory.all(:order => 'name ASC').collect { |record| [record.name, record.id] })%>
  	</span>
 
    <span class="pd_actions">
   	<% unless product_form.object.new_record? %>
    	<%= link_to_remote "Borrar", :url => product_path(product_form.object.id), :method => :delete, :confirm => "¿Desea borrar este registro?"%>
    <% else%>
    	<%= link_to_function "Borrar", "$(this).up('.#{dom_id}').remove();" %>
    <% end %>
    </span>
	</div>
<% end %>