<%
  index ||= product_counter
  id_or_index = product.new_record? ? index : product.id 
  prefix = "order[products_attributes][#{id_or_index}]"
%>

<div id="products">
  <% fields_for prefix, product do |product_form| %>
  <% dom_id = product.new_record? ? 'new' : product.dom_id %>
  <%= product_form.hidden_field(:id, :value => product.id) unless product.new_record? %>

    <div class="row" style="background-color: #e2eef3;" id="<%= dom_id %>">
	  <span class="pd_quantity">
        <%= product_form.text_field :quantity, :size => '4', :maxlenght => '4'%>
      </span>
  	
      <span class="pd_description">
        <%= product_form.text_field :description, :size => '47', :maxlenght => '70' %>
      </span>
  	
      <span class="pd_type" id="product_type">
        <%= product_form.select(:product_category_id, ProductCategory.all(:order => 'name ASC').collect { |record| [record.name, record.id] })%>
      </span>
  	
      <span class="pd_unit" id="product_unit">
        <%= product_form.select(:unit_type_id, UnitType.all(:order => 'name ASC').collect { |record| [record.name, record.id] })%>
      </span>
 
      <span class="pd_actions">
        <% unless product.new_record? %>
          <%= link_to_remote "Borrar", :url => order_product_path(product.id), :method => :delete, :confirm => "¿Desea borrar este registro de manera permanente?"%>
        <% else%>
          <%= link_to_function "Borrar", "$(this).up('.row').remove();" %>
        <% end %>
      </span>

    </div>
  <% end %>
</div>
