<span class="id"><%= record.id %></span>
<span class="description">
	<b>Productos:</b> <br/>
	<%= product_list(record.products) %><br/>
	<b>Proveedores:</b> <br/>
	<%= provider_list(record.providers) %><br/>
</span>
<span class="date"><%= record.date.to_s :short %></span>
<span class="date_update"><%= record.updated_at.to_s :date_only %></span>
<span class="status">bla </span>
<span class="actions">bla</span>