<div class="<%= set_row_class(record_counter)%>">
  <span class="id"><%= record.id %></span>
  <span class="description">
    <b>Productos:</b><br/>
      <%= list_products(record.products)%>
    <b>Proveedores:</b><br/>
      <%= list_providers(record.providers)%>
  </span>
  <span class="date"><%= record.date.to_s :short %></span>
  <span class="date_update"><%= record.updated_at.to_s :short %></span>
  <span class="status" id="<%= record.dom_id + '_status' %>">
    <%= record.current_status %>
  </span>
  <span class="actions" id="<%= record.dom_id + '_actions' %>">
    <%= links_for_actions(controller_name, record)%><br/><br/>
    <span class="progress_bar"><%= image_tag('progress_bar3.gif', :id => "record_#{record.id}_loader_indicator", :style => 'display: none') %></span>
  </span>
</div>
