<div class="<%= set_row_class(record_counter)%>">
  <span class="id"><%= record.id %></span>
  <span class="description">
    <b>Productos:</b><br/>
      <%= list_products(record.products)%>
    <b>Proveedores:</b><br/>
      <%= list_providers(record.providers)%>
    <span id="icon" style="margin-left: 250px;">
      <%= link_to(image_tag("icon_show.png", :title => 'Ver detalles', :size => '16x16'), :action => 'show', :id => record.id)%>
    </span>
  </span>
  <span class="date"><%= record.date.to_s :short %></span>
  <span class="date_update"><%= record.updated_at.to_s :short %></span>
  <span class="status"><%= record.order_status.name%></span>
  <span class="actions">

    <span class="progress_bar"><%= image_tag('progress_bar3.gif', :id => 'order_status_loader_indicator', :style => 'display: none') %></span>
  </span>
</div>
