<div id="collection">
A continuaci贸n se listan las solicitudes de cotizaci贸n por parte del usuario: <%= @user_profile.fullname%>
<%= render :partial => 'shared/index'%>
<div id="currency_form">
  <%= render :partial => 'shared/record', :collection => @collection, :locals => {:backend_name => "estimate"}%>
  <%= will_paginate @collection %>
</div>
<div id="add">
  <%= link_to( image_tag("icon_add_order.jpg", :title => 'Agregar solicitud de cotizaci贸n'), new_estimate_path )%>
  <%= link_to 'Agregar solicitud de cotizaci贸n', new_estimate_path%>
</div>
</div>
