<div id="collection">
A continuación se listan las solicitudes de cotización por parte del usuario: <%= @user_profile.fullname%>
<%= render :partial => 'shared/index'%>

<div id="currency_form">
  <%= render :partial => 'record', :collection => @collection %>
  <%= will_paginate @collection %>
</div>

<div id="add">
  <%= link_to_action( 'Agregar solicitud de cotización',  'icon_add_order.png',  new_estimate_path) %>
</div>

</div>
