<%= render :partial => 'shared/return_index'%>
<h2 style="margin-left: 50px;">Los datos de su solicitud de cotización son los siguientes:</h2>
<div id="or_data">
  <div id="top_image">
  </div>
  <div id="user_data">
  	<%= render :partial => 'shared/section_show', :locals => { :title => 'Información del solicitante:', :partial => 'shared/user_profile_show', :object => @order } %>
	<%= render :partial => 'shared/section_show', :locals => { :title => 'Artículo(s)', :partial => 'shared/products_estimate', :collection  => @order.products } %>
	<%= render :partial => 'shared/section_show', :locals => { :title => 'Proveedor(es)', :partial => 'shared/providers_estimate', :collection => @order.providers } %>
  </div>
  <div id="bottom_image">
  </div>
</div>
<%= render :partial => 'shared/return_index'%>
<br/>
<br/>
