<div class=<%= set_row_class(record_counter)%>>

 <span class="id"><%= record.id %></span>
 <span class="description">
   <%= numerate_list(record.order_products, "description")%><br/>
   <span style="margin-left: 50px; font-weight: bold;">Total: <%= record.total_price %>, <%= " Divisa: " + record.currency_order.currency.name if !record.currency_order.nil?%>
   <span id="icon">
      <%= link_to(image_tag("icon_details.png", :title => 'Ver más detalles', :size => '16x16'), :action => 'show', :id => record.id)%>
   </span>
   </span>
 </span>
 
 <span class="date"><%= record.date.to_s :short %></span>
 <span class="date_update"><%= record.updated_at.to_s :date_only %></span>
 <span class="status" id="<%= record.dom_id + '_status' %>"%>
   <%= record.current_status %>
 </span>
 <span class="actions" id="<%= record.dom_id + '_actions' %>">
   <%= links_for_actions(controller_name, record)%><br/>
   <span class="progress_bar">
     <%= image_tag('progress_bar3.gif', :id => "record_#{record.id}_loader_indicator", :style => 'display: none') %>
   </span>
 </span>

<br/>
  <div class="user_row">
    <span class="user_col_left">Área del solicitante: </span><span class="user_col_right"><%= @user_profile.adscription_name%></span>
    <hr/ style="color: silver;">
    <span class="user_col_left">Nombre del solicitante: </span><span class="user_col_right"><%= @user_profile.fullname%></span><br/>
  </div>
</div>
