<%= render :partial => 'shared/navlinks_budget_show' %>

<h3 style="margin-left: 50px;">Los datos de la solicitud interna de compra del usuario <%= @order.user_fullname%> son:</h3>
<div id="or_data">
  <div id="top_image">
  </div>
  <div id="user_data">
    <%= render :partial => 'shared/section_show', :locals => { :title => 'Información del solicitante:', :partial => 'shared/user_profile_show', :object => @order } %>
    <%= render :partial => 'shared/section_show', :locals => { :title => 'Divisa:', :partial => 'shared/currency_show', :object => @order.currency } %>
    <%= render :partial => 'shared/section_show', :locals => { :title => 'Artículo(s)', :partial => 'shared/products_show', :collection  => @order.products } %>
    <%= render :partial => 'shared/section_show', :locals => { :title => 'Proveedor(es)', :partial => 'shared/providers_show', :collection => @order.providers } %>
    <%= render :partial => 'shared/section_show', :locals => { :title => 'Anexo(s)', :partial => 'shared/files_show', :collection => @order.attachments } %>
    <%= render :partial => 'shared/section_show', :locals => { :title => 'Con cargo a:', :partial => 'shared/project_show', :object => @order.project } %>

	<div id="collection">
	  <div class="row">
	    <h3>TOTAL</h3>
	    	<%= @order.total_price %>
	  </div>
	</div>
  </div>
  <div id="bottom_image">
  </div>
</div>
<%= render :partial => 'shared/navlinks_budget_show' %>
