<div id="currency_form">
<div id="error_messages"></div>
<% remote_form_for(:currency, @record, :url => {:action => 'add_currency_data'}) do |f| %>
<div class="row">
  <span class="fix-left">Divisa:</span>
  <span class="fix-right"><%= f.text_field :name, :size => '25', :maxlenght => '50' %></span>
</div>
<div class="row">
  <span class="fix-left">Fuente:</span>
  <span class="fix-right"><%= f.text_field :url, :size => '25', :maxlenght => '50' %></span>
</div>
<% fields_for :currency_order do |currency_order| %>
<div class="row">
  <span class="fix-left">Tipo de cambio:</span>
  <span class="fix-right"><%= currency_order.text_field :value, :size => '25', :maxlenght => '50' %></span>
</div>
<% end%>
<%= f.submit "Guardar" %>
<%= link_to_remote "Cancelar", :url => { :controller => '../currencies', :action => 'update', :id => session[:order]} %>
<% end%>
</div>
