<div id="currency_form">
  <div id="error_messages">
  </div>
  
<% fields_for :currency do |currency| %>
  <div class="row">
    <span class="fix-left">
      Nombre:
    </span>
    <span class="fix-right">
      <%= currency.text_field :name, :size => '25', :maxlenght => '50' %>
    </span>
  </div>

  <div class="row">
    <span class="fix-left">
      Fuente:
    </span>
    <span class="fix-right">
      <%= currency.text_field :url, :size => '25', :maxlenght => '50' %>
    </span>
  </div>
<% end%>

  <% fields_for :currency_order do |currency_order| %>
    <div class="row">
      <span class="fix-left">
        Tipo de cambio:
      </span>

      <span class="fix-right">
        <%= currency_order.text_field :value, :size => '25', :maxlenght => '50' %>
      </span>
      <%= currency_order.hidden_field :currency_id, :value => 6 %>
    </div>
  <% end%>

  <%= submit_to_remote('change_currency', 'Guardar cambios', :url => {:controller => 'currencies', :action => 'create_currency'})%>

</div>
