<div class=<%="row_" + ((admin_record_counter + 1) % 2).to_s%>>

 <span class="id"><%= admin_record.id %></span>
 <span class="description">
   <%= numerate_list(admin_record.order_products, "description")%><br/>
   <span style="margin-left: 50px; font-weight: bold;">Total: <%= admin_record.total_price %>, Divisa: <%= admin_record.currency_order.currency.name%>
    <span id="icon">
      <%= link_to(image_tag("icon_details.jpg", :title => 'Ver más detalles', :size => '16x16'), :action => 'show', :id => admin_record.id)%>
     </span>
   </span>
 </span>
 
 <span class="date">
   <%= admin_record.date.strftime("%d-%m-%Y") %>
 </span>

  <span class="date_update">
    <%= admin_record.updated_at.strftime("%d-%m-%Y") %>
  </span>
  
  <% id=admin_record.order_status_id.to_s%>
  <span class="status" id="<%= admin_record.dom_id + '_status' %>">
   <%= image_tag("status_"+admin_record.current_status.downcase.split(/\s+/).join('_')+".jpg")%>
   <%= admin_record.current_status %>
  </span>

  <span class="actions" id="<%= admin_record.dom_id + '_actions' %>">
  <div id="icon">
    <%= render :partial => "shared/"+backend_name+"_actions", :locals => {:record => admin_record, :backend_name => backend_name}%>
  </div>
  <%= image_tag('progress_bar3.gif', :id => 'order_status_loader_indicator', :style => 'display: none') %>
  </span>

  <br/>
  <div class="user_row">
    <span class="user_col_left">Área del solicitante: </span><span class="user_col_right"><%= @user_profile.adscription_name%></span>
    <hr/ style="color: silver;">
    <span class="user_col_left">Nombre del solicitante: </span><span class="user_col_right"><%= @user_profile.fullname%></span><br/>
  </div>
</div>
