<% status = activate_links(backend_name, record.current_status.downcase.split(/\s+/).join('_'))%>
<span class=<%= "opacity_"+status[0].to_s%>>
  <%= link_to_status(status[0], 'Capturar datos', 'icon_approve.jpg', {:action => 'new', :id => record.id})%>
</span>
<span class=<%= "opacity_"+status[1].to_s%>>
  <%= link_to_status(status[1], 'Editar', 'icon_edit.jpg', {:action => 'edit', :id => record.id})%>
</span>
<span class=<%= "opacity_"+status[2].to_s%>>
  <%= link_to_status(status[2], 'Aprobar', 'icon_approve.jpg', {:url => {:action => 'approve', :id => record.id}, :format => 'js', :loading => "$('order_"+ record.id.to_s + "_status').update(''); $('order_status_loader_indicator').show();", :complete => "$('order_status_loader_indicator').hide();"})%>
</span>
<span class=<%= "opacity_"+status[3].to_s%>>
  <%= link_to_status(status[3], 'Rechazar', 'icon_reject.jpg', {:url => {:action => 'reject', :id => record.id}, :format => 'js', :loading => "$('order_"+ record.id.to_s + "_status').update(''); $('order_status_loader_indicator').show();", :complete => "$('order_status_loader_indicator').hide();"})%>
</span>
<span class=<%= "opacity_"+status[4].to_s%>>
  <%= link_to_status(status[4], 'Transferir', 'icon_reject.jpg', {:action => 'transfer', :id => record.id})%>
</span>
<span class=<%= "opacity_"+status[5].to_s%>>
  <%= link_to_status(status[5], 'Cambiar divisa', 'icon_reject.jpg', {:url => { :controller => '../currencies', :action => 'update', :id => record.id} })%>
</span>
<span class=<%= "opacity_"+status[6].to_s%>>
  <%= link_to_status(status[6], 'Ver HTML', 'icon_details.jpg', {:action => 'show_preview', :id => record.id})%>
</span>
<span class=<%= "opacity_"+status[7].to_s%>>
  <%= link_to_status(status[7], 'Ver PDF', 'icon_pdf.jpg', {:action => 'show_pdf', :id => record.id})%>
</span>





