<div id="number_cell">
  <a><%= html_view_product_row_counter + 1%></a>
</div>
 
<div id="quantity_cell">
  <a><%= html_view_product_row.quantity%></a>
</div>
 
<div id="description_cell">
  <a><%= html_view_product_row.description%></a>
</div>
 
<div id="unit_cell">
  <a><%= html_view_product_row.quantity%></a>
</div>
 
<div id="price_per_unit_cell">
  <a><%= html_view_product_row.price_per_unit%></a>
</div>
 
<div id="total_cell">
  <a><%= html_view_product_row.quantity * html_view_product_row.price_per_unit%></a>
</div>
