<div class=<%="row_" + ((record_counter + 1) % 2).to_s%>>
  <span class="id"><%= record.id %></span>
  <span class="description">
    <% count = 0%><%= record.order_products.collect {|product| "#{count+=1}. "+product.description}.join("<br\>") %><br/><br/>
    <span style="margin-left: 50px; font-weight: bold;">Total: <%= record.total_price %>, Divisa: <%= record.currency_order.currency.name%> <span id="icon"><%= link_to(image_tag("icon_details.jpg", :title => 'Ver más detalles', :size => '16x16'), :action => 'show', :id => record.id)%></span></span>
  </span>
  <span class="date"><%= record.date.strftime("%d-%m-%Y") %></span>
  <span class="date_update"><%= record.updated_at.strftime("%d-%m-%Y") %></span>
  <% id=record.order_status_id.to_s%>
  <span class="status" id="<%= record.dom_id + '_status' %>">
    <%= image_tag("status_"+id+".jpg", :size => '16x16')%>
    <%= record.current_status %>
  </span>
  <span class="actions" id="<%= record.dom_id + '_actions' %>">
  
  <div id="icon">
    <%= render :partial => "shared/"+backend_name+"_actions", :locals => {:record => record, :backend_name => backend_name}%>
  </div>
  <%= image_tag('progress_bar3.gif', :id => 'order_status_loader_indicator', :style => 'display: none') %>
</span>

<% if backend_name=="budget" or backend_name=="acquisition"%>
<br/>
<div class="user_row">
  <span class="user_col_left">Área del solicitante: </span><span class="user_col_right"><%= @user_profile.adscription_name%></span>
  <hr/ style="color: silver;">
  <span class="user_col_left">Nombre del solicitante: </span><span class="user_col_right"><%= @user_profile.fullname%></span><br/>
</div>
<% end%>
</div>
