<span id="cell_left">Nombre del solicitante:</span>
<span id="cell_right"><%= user_profile_show.user_fullname %> (<%= user_profile_show.user_adscription_name %>)</span><br/>
<span id="cell_left">Teléfono: </span>
<span id="cell_right"><%= user_profile_show.user_phone %></span><br/>
<span id="cell_left">Fecha de solicitud:</span>
<span id="cell_right"><%= user_profile_show.order_date %></span><br/>
 <% if user_profile_show.user_has_academic_responsible? %>
  <span id="cell_left">Responsable académico:</span>
  <span id="cell_right"><%= user_profile_show.academic_responsible_fullname %></span><br/>
 <% end %>
  
