<%- content_for :head do -%>
  <script type="text/javascript" charset="utf-8">
   //<![CDATA[
     productForm = new Subform('<%= escape_javascript(render(:partial => "product", :object => OrderProduct.new, :locals => {:index => "INDEX"})) %>',<%= @order.products.length %>,'products');
     providerForm = new Subform('<%= escape_javascript(render(:partial => "provider", :object => Provider.new, :locals => {:index => "INDEX"})) %>',<%= @order.providers.length %>,'providers');
     fileForm = new Subform('<%= escape_javascript(render(:partial => "file", :object => OrderFile.new, :locals => {:index => "INDEX"})) %>',<%= @order.files.length %>,'files');
     projectForm = new Subform('<%= escape_javascript(render(:partial => "project", :object => Project.new, :locals => {:index => "INDEX"})) %>',<%= @order.projects.length %>,'projects');
   //]]>
  </script>
<%- end -%>

<h2> Artículo(s): </h2>
<div id="products" class="table">
  <span class="pd_quantity">
    Cantidad
  </span>
  <span class="pd_description">
    Descripción
  </span> 
  <span class="pd_price">
    Precio unitario
  </span>
  <span class="pd_type">
    Categoría del producto
  </span>
  <span class="pd_actions">
    Acciones
  </span>
  
  <%= render :partial => 'product', :collection => @order.products %> 
</div>

<%= link_to_function "Agregar", "productForm.add()" %>  
 
<h2> Proveedor(es): </h2>
<div id="providers" class="table">
  <span class="pv_description">
    Proveedor
  </span>
  <span class="pv_email">
    Correo electrónico
  </span>
  <span class="pv_actions">
    Acciones
  </span>
	
  <%= render :partial => 'provider', :collection => @order.providers %>

</div>

<%= link_to_function "Agregar", "providerForm.add()"%>


<h2> Anexos: </h2>
<div id="files" class="table">
  <span class="of_filetype">
    Tipo de archivo
  </span>
  <span class="of_file">
    Archivo
  </span>
  
  <%= render :partial => "file", :collection => @order.files %>

</div>

<%= link_to_function "Agregar", "fileForm.add()" %>

<h2> Con cargo a:</h2>
<div id="projects" class="table">
  <span class="op_type">Tipo de proyecto</span>
  <span class="op_name">Nombre del proyecto</span>
  <span class="op_number">Número de proyecto / Partida</span>
  
  <%= render :partial => "project", :collection => @order.projects %>  

</div>

<%= link_to_function "Agregar", "projectForm.add()"%>
