<%= content_tag(:h2, "Artículo(s):") %>
<div id="products" class="table">
    <span class="pd_quantity">Cantidad</span>
	<span class="pd_description">Descripción</span> 
	<span class="pd_price">Precio unitario</span>
	<span class="pd_type">Categoría del producto</span>
	<span class="pd_actions">Acciones</span>
	<%= render :partial => 'product_form', :locals => { :f => f } %>
</div>
<%= link_to_function "Agregar" do |page| page.insert_html :bottom, 'products', :partial => "product_form", :locals => { :f => f } end %>  
 
<%= content_tag(:h2, "Proveedor(es):") %>
<div id="providers" class="table">
  	<span class="pv_description">Proveedor</span>
        <span class="pv_actions">Acciones</span>
	<%= render :partial => 'provider_form', :locals => { :f => f } %>
</div>
<%= link_to_function "Agregar" do |page|   page.insert_html :bottom, 'providers', :partial =>"provider_form", :locals => { :f => f } end %>

<%= content_tag(:h2, "Anexos:") %>
<div id="order_files" class="table">
  <span class="of_filetype">Tipo de archivo</span>
  <span class="of_file">Archivo</span>
  <%= render :partial => "file_form", :locals => { :f => f } %>
</div>

<%= content_tag(:h2, "Con cargo a:") %>
<div id="order_projects" class="table">
  <span class="op_type">Tipo de proyecto</span>
  <span class="op_name">Nombre del proyecto</span>
  <span class="op_number">Número de proyecto / Partida</span>
  <%= render :partial => "project_form", :locals => {:f => f} %>
</div>
