- index ||= product_counter
- id_or_index = product.new_record? ? index : product.id
- prefix = "order[products_attributes][#{id_or_index}]"

- fields_for prefix, product do |product_form|
- dom_id =  product_form.object.nil? ? 'new' : product_form.object.dom_id
= product_form.hidden_field(:id, :value => product.id) unless product.new_record?
  %div{ :class => dom_id, :id => dom_id, :style => "background-color: #e2eef3;" }
    %span.pd_quantity
      = product_form.text_field :quantity, :size => '3', :maxlenght => '4'
    %span.pd_description_order
      = product_form.text_field :description, :size => '40', :maxlenght => '70'
    %span.pd_price
      = product_form.text_field :price_per_unit, :size => '7', :maxlenght => '15'
    %span.pd_unit
      = product_form.select(:unit_type_id, UnitType.all(:order => 'name ASC').collect { |record| [record.name, record.id] })
    %span.pd_type
      = product_form.select(:product_category_id, ProductCategory.all(:order => 'name ASC').collect { |record| [record.name, record.id] })
    %span.pd_actions
      - unless product.new_record?
        = link_to_remote "Borrar", :url => order_product_path(product.id), :method => :delete, :confirm => "¿Desea borrar este registro de manera permanente?"
      - else
        = link_to_function "Borrar", "$(this).up('.#{dom_id}').remove();"

