   <%= link_to 'Vista previa', :action => 'show_preview', :id => record.id%>
   <% if record.order_status_id==1 then %><br/>
   <%= link_to 'Modificar', edit_order_path(record) %> |
   <%= link_to 'Borrar', order_url(:id => record.id), :method => :delete, :confirm => '¿Desea borrar esta orden de compra?' %> <br/>
<div id="send_mail">
  <%= link_to_remote( image_tag("email.jpg"), :url => {:action => 'send_order', :id => record.id}, :format => 'js', :loading => "$('order_"+ record.id.to_s + "_status').update(''); $('order_status_loader_indicator').show();", :complete => "$('order_status_loader_indicator').hide();" )%>
  <%= link_to_remote 'Enviar orden de compra',  :url => {:action => 'send_order', :id => record.id}, :format => 'js', :loading => "$('order_"+ record.id.to_s + "_status').update(''); $('order_status_loader_indicator').show();", :complete => "$('order_status_loader_indicator').hide();" %>
</div>
   <% else%>
   | <%= link_to 'Ver PDF',  :action => 'show_pdf', :id => record.id%><br/>
   <% end %>
