
<div id="collection">
	<div class="user_info">
	<%= content_tag(:b, 'Académico:')%> <%= @user_profile.fullname%>
		<span style="padding-left: 580px; font-size: 14px; text-decoration: underline;"><%= link_to 'Solicitar cotización', estimates_url %></span>
	</div>

<%= render :partial => 'shared/index'%>
<div id="currency_form">
  <%= render :partial => 'record', :collection => @collection%>
  <%= will_paginate @collection %>
</div>
<div id="add">
  <%= link_to( image_tag("icon_add_order.png", :title => 'Agregar solicitud interna de compra'), new_order_path )%>
  <%= link_to 'Agregar solicitud interna de compra', new_order_path%>
</div>
</div>
