<div id="collection">
A continuación se listan las solicitudes de orden de compra por parte del usuario: <%= @user_profile.fullname%>
<%= render :partial => 'shared/index'%>
<div id="currency_form">
  <%= render :partial => 'shared/record', :collection => @collection, :locals => {:backend_name => "order"}%>
  <%= will_paginate @collection %>
</div>
<div id="add">
  <%= link_to( image_tag("icon_add_order.jpg", :title => 'Agregar solicitud interna de compra'), new_order_path )%>
  <%= link_to 'Agregar solicitud interna de compra', new_order_path%>
</div>
</div>
