<div id="title_ob">
  <%= content_tag(:b, "CLAVE: ") %>314.01 <br/>
  <%= content_tag(:b, "Secretaría Administrativa") %> <br/>
  <%= content_tag(:b, "Bienes y suministros") %> <br/>
</div>
 
<%= error_messages_for 'order' %>
<% form_for(@order, :html => {:id => 'order', :multipart => true }) do |f| -%>
<div id="data">
  
  <%= render :partial => 'user_data', :object => @user_profile%>
  <!-- <%= render :partial => 'currency_info' %> -->
  <%= render :partial => 'form', :locals => { :f => f} %><br/>

  <div style="padding-right: 150px; text-align: right;">
   <%= f.submit "Guardar orden de compra", :onclick => "return (confirm('¿Desea almacenar esta orden de compra?'));"%>
   <%= link_to 'Cancelar', orders_path, :confirm => 'Al cancelar la orden de compra no será almacenada' %><br/><br/>
  </div>
  </p>
</div>
<% end %>
