<div id="template_header">
  <hr>
    UNIVERSIDAD NACIONAL AUTÓNOMA DE MÉXICO<br/>
    INSTITUTO DE FÍSICA<br/>
    CLAVE 314.01<br/>
    SECRETARÍA ADMINISTRATIVA<br/>
    BIENES Y SUMINISTROS<br/>
    SOLICITUD INTERNA DE COMPRA<br/>
</div><br/>

<div id="order_request_data">
  <div id="datacell_left"><a>ÁREA SOLICITANTE:</a></div><div id="datacell_right"><a><%= @order.user_adscription_name%></a></div>
  <div id="template_date">FECHA DE SOLICITUD: <a><%= @order.order_date%></a></div><br/>
  <div id="datacell_left"><a>NOMBRE DEL SOLICITANTE:</a></div><div id="datacell_right"><a><%= @order.user_fullname%></a></div><br/>
  <div id="datacell_left"><a>TELÉFONO:</a></div><div id="datacell_right"><a><%= @order.user_phone%></a></div><br/>

  <div id="number_title"><a>No.</a></div><div id="quantity_title"><a>CANTIDAD</a></div><div id="description_title"><a>DESCRIPCIÓN DE LOS BIENES E INSUMOS REQUERIDOS</a></div><div id="unit_title"><a>UNIDAD</a></div><div id="price_per_unit_title"><a>PRECIO POR UNIDAD</a></div><div id="total_title"><a>IMPORTE</a></div>

  <%= render :partial => "product", :collection => @order.products, :locals => { :i => @order.products.last.id}%>
  <span style="padding-left: 830px;">COSTO TOTAL: <div id="total_sum"><%= order_request_total_cost(@order.order_id)%></div></span>

  <br/><br/><div id="number_title"><a>No.</a></div><div id="provider_title"><a>PROVEEDORES</a></div>
  <%= render :partial => "provider", :collection => @order.providers%>

  <br/><br/>
  <div id="attached"> ANEXOS:<br/>
  <span style="padding-left: 100px;"><%= @order.attachments[0].file_type.name %>  (<%= link_to @order.attachments[0].filename,  get_file_order_path(@order.attachments[0].id), :method => :get %>)</a>
  </div>

  <br/><br/>
  <div id="charge"> CON CARGO A:<br/>
    <div id="inrow-left">Presupuesto:</div><div id="inrow-right"><%= @order.project.project_type.name%></div><br/>
    <div id="inrow-left">Nombre del proyecto: </div><div id="inrow-right"><%= @order.project.name%></div><br/>
    <div id="inrow-left">Número de proyecto: </div><div id="inrow-right"><%= @order.project.key%></div><br/>
  </div><br/>

  <div style="border: 1px solid black;">DIVISA<br/>
    <div id="inrow-left">Divisa: </div><div id="inrow-right"><%= @order.currency.currency.name%></div><br/>
    <div id="inrow-left">Tipo de cambio: </div><div id="inrow-right"><%= @order.currency.value%></div><br/>
    <div id="inrow-left">Equivalente en M.N.: </div><div id="inrow-right"><%= (@order.currency.value * order_request_total_cost(@order.order_id)).to_s + " pesos"%></div><br/>
  </div><br/>
</div>
