- index ||= file_counter
- new_or_existing = file.new_record? ? 'new' : 'existing'
- id_or_index = file.new_record? ? index : file.id 
- prefix = "order[files_attributes]"

.rows
  - fields_for prefix do |file_form|
    - unless file.file.size.nil?
      = ""
    - else
      = file_form.hidden_field :provider_id, :value => session[:provider_id], :index => index
      = file_form.file_field :file, :index => index
      = file_form.select :file_type_id, FileType.all.collect {|record| [record.name, record.id]}, {:prompt => "--Seleccionar--"}, {:index => index}
      = link_to_function "Borrar", "$(this).up('.rows').remove();"