#error_messages
  = error_messages_for :order

- form_for(@order, :url => {:controller => 'files', :action => 'update', :id => @order.id}, :html => {:id => 'order', :multipart => true }) do |f|
  #file_form
    #form_data 
      %h3 Datos del solicitante:
      #cell_left
        Nombre:
      #cell_right
        = @order_reporter.user_fullname
      %br
      #cell_left
        Teléfono:
      #cell_right
        = @order_reporter.user_phone
      %br
      #cell_left
        Correo electrónico
      #cell_right
        = @order_reporter.user_email
      %br  
      
      %h3= "Productos solicitados:"
      #row_header 
        #number_header
          Cantidad
        #description_header
          Descripción
      = render :partial => 'product', :collection => @order.products

      %h3 Datos del proveedor:
      #cell_left
        Nombre del proveedor:
      #cell_right
        = @order.providers.first.name
      %br
      #cell_left
        Correo electrónico:
      #cell_right
        = @order.providers.first.email
      %br


      %h3 Datos adjuntos:
      #attachment_row
        #attachment_header
          Archivo adjunto
        #file_type_header 
          Tipo de archivo
        #actions_header
          Acciones
      #attachment_cell
        = hidden_field(:file_form, :index, :value => 0)
        = render :partial => 'file', :object => OrderFile.new, :collection => @order.files, :locals => {:f => f}
      = link_to_function "Agregar" do |page|
        - page.insert_html :bottom, 'attachment_cell', :partial => 'file', :locals => {:f => f}, :collection => @order.files 

  #submit
    = f.submit "Adjuntar archivos", :onclick => "return (confirm('¿Desea guardar los archivos adjuntos?'));"