<% content_for_file_form_head %>

<% form_for(@order, :url => {:controller => 'files', :action => 'update', :id => @order.id}, :html => {:id => 'order', :multipart => true }) do |f|%>

  <div id="file_form">
    <div id=form_data>
      <h3> Datos del solicitante:</h3>
        <div id="cell_left">
          Nombre:
        </div>
        <div id="cell_right">
          <%= @order_reporter.user_fullname%>
        </div>
        <br/>
        <div id="cell_left">
          Teléfono:
        </div>
        <div id="cell_right">
          <%= @order_reporter.user_phone%>
        </div>          
        <br/>
        <div id="cell_left">
          Correo electrónico
        </div>
        <div id="cell_right">
          <%= @order_reporter.user_email%>
        </div>
        <br/>
    </div>
  </div>

  <%= render :partial => 'file', :object => OrderFile.new, :collection => @order.files%>
  <br/>
  <%= link_to_function "Agregar", "fileForm.add()"%>

<%= f.submit "Guardar"%>

<% end%>
