- form_for(@order, :html => {:id => 'order', :multipart => true }) do |f| 
  #file_form
    #form_data 
      %h3 Datos del solicitante:
      #cell_left
        Nombre:
      #cell_right
        = @order_reporter.user_fullname
      %br
      #cell_left
        Teléfono:
      #cell_right
        = @order_reporter.user_phone
      %br
      #cell_left
        Correo electrónico
      #cell_right
        = @order_reporter.user_email
      %br  
      
      %h3= "Productos solicitados:"
      #row_header 
        #number_header
          Cantidad
        #description_header
          Descripción
      -@order.products.each do |product|
        = render :partial => 'product', :object => product

      %h3 Datos del proveedor:
      #cell_left
        Nombre del proveedor:
      #cell_right
        = @order.providers.first.name
      %br
      #cell_left
        Correo electrónico:
      #cell_right
        = @order.providers.first.email
      %br

      %h3 Datos adjuntos:
      #attachment_cell
        = render :partial => 'attachment', :locals => {:f => f}
      = link_to_function "Agregar" do |page|
        - page.insert_html :bottom, 'attachment_cell', :partial => 'attachment', :locals => {:f => f}
%br      

  
