<hr>
  UNIVERSIDAD NACIONAL AUTÓNOMA DE MÉXICO<br/>
  INSTITUTO DE FÍSICA<br/>
  CLAVE 314.01<br/>
  SECRETARÍA ADMINISTRATIVA<br/>
  BIENES Y SUMINISTROS<br/>
  SOLICITUD INTERNA DE COMPRA<br/>
</div><br/>

<div id="order_request_data">
  <div id="datacell_left"><a>ÁREA SOLICITANTE:</a></div><div id="datacell_right"><a><%= @user.adscription_name%></a></div>
  <div id="template_date">FECHA: <a><%= @order.created_at.strftime("%d   |   %m   |   %Y")%></a></div><br/>
  <div id="datacell_left"><a>NOMBRE DEL SOLICITANTE:</a></div><div id="datacell_right"><a><%= @user.fullname%></a></div><br/>
  <div id="datacell_left"><a>TELÉFONO:</a></div><div id="datacell_right"><a><%= @user.phone%></a></div><br/>

  <div id="number_title"><a>No.</a></div><div id="quantity_title"><a>CANTIDAD</a></div><div id="description_title"><a>DESCRIPCIÓN DE LOS BIENES E INSUMOS REQUERIDOS</a></div><div id="unit_title"><a>UNIDAD</a></div><div id="price_per_unit_title"><a>PRECIO POR UNIDAD</a></div><div id="total_title"><a>IMPORTE</a></div>

  <%= render :partial => "product", :collection => @order.order_products, :locals => { :i => @order.order_products.last.id}%>
  <span style="padding-left: 830px;">COSTO TOTAL: <div id="total_sum"><%= @order.calculate_total_amount%></div></span>

  <br/><br/><div id="number_title"><a>No.</a></div><div id="provider_title"><a>PROVEEDORES</a></div>
  <%= render :partial => "provider", :collection => @order.providers%>
  <% unless @order.order_file.nil? %>
  <br/><br/>
  <div id="attached"> ANEXOS:<br/>
    <span style="padding-left: 100px;"><%= @order.order_file.file_type.name %>  (<%= link_to @order.order_file.filename,  get_file_order_request_path(@order.order_file.id), :method => :get %>)</a>
  </div>
  <% end %>
  <br/><br/>

  <% unless @order.project.nil? %>
  <div id="charge"> CON CARGO A:<br/>
    <div id="inrow-left">Presupuesto:</div><div id="inrow-right"><%= @order.project.project_type.name%></div><br/>
    <div id="inrow-left">Nombre del proyecto: </div><div id="inrow-right"><%= @order.project.name%></div><br/>
    <div id="inrow-left">Número de proyecto: </div><div id="inrow-right"><%= @order.project.key%></div><br/>
  </div><br/>
  <% end %>

  <% unless @order.currency_order.nil? %>
  <div style="border: 1px solid black;">DIVISA<br/>
    <div id="inrow-left">Divisa: </div><div id="inrow-right"><%= @order.currency_order.currency.name%></div><br/>
    <div id="inrow-left">Tipo de cambio: </div><div id="inrow-right"><%= @order.currency_order.value%></div><br/>
    <div id="inrow-left">Equivalente en M.N.: </div><div id="inrow-right"><%= @order.currency_order.value * @order.calculate_total_amount%></div><br/>
  </div><br/>
  <% end %>
