<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
<<<<<<< HEAD:app/views/layouts/order_requests.html.erb
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
=======
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
>>>>>>> 086d1987cc6c9bac21df19977a2f4c5ce6117203:app/views/layouts/order_requests.html.erb

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Order Requests: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
</head>


<body>
<p style="color: green"><%= flash[:notice] %></p>

<<<<<<< HEAD:app/views/layouts/order_requests.html.erb
<%= yield %>
=======
<%= yield  %>
>>>>>>> 086d1987cc6c9bac21df19977a2f4c5ce6117203:app/views/layouts/order_requests.html.erb

</body>
</html>
<<<<<<< HEAD:app/views/layouts/order_requests.html.erb

=======
>>>>>>> 086d1987cc6c9bac21df19977a2f4c5ce6117203:app/views/layouts/order_requests.html.erb
