<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Orders: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'prototype' %>
</head>

  <body>
    <div id="container">
      <div id="header">
        <%= image_tag('header.jpg', :border => 0, :size => '1100x150') %>
      </div>
        <!-- <div id="link_cell"><a style="text-decoration: none;" href="#" >Inicio</a></div> -->
        <!-- <div id="link_cell"><a style="text-decoration: none;" href="#" >Inventario</a></div> -->
        <!-- <div id="link_cell"><a style="text-decoration: none;" href="#" >Orden de compra</a></div> -->
        <!-- <div id="link_cell"><a style="text-decoration: none;" href="#" >Acerca de</a></div> -->
        <div id="contain">
          <div id = "links">
            <br>
              Usuario: <%= logged_user  %> |
              <span id="icon"><%= link_to(image_tag("icon_exit.png", :size => '16x16', :title => 'Cerrar sesión'), session_path, :method => :delete )%></span>
              </br>
          </div>
          <p style="background-color: yellow"><%= flash[:notice] %></p>
          <%= yield %>
        </div>
        <div id="footer">
        </div>
      </div>
  </body>
</html>
